    body {
        

        font-family: Roboto;
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }   

   
    #form {
        background-color: red;
    }


    input[type=text]:focus {
        outline: 1px solid #1C91FC;
    }

    

    input[type="date"]::-webkit-calendar-picker-indicator {
        cursor: pointer;
        filter: invert(0.8);
        padding: 15px;
        font-family: Roboto;
    }

    input[type="date"]:focus {
        outline: 1px solid #1C91FC;
    }

    input[type="select"]:focus {
        outline: 1px solid #1C91FC;
    }

    .forms {
        display: flex;
        margin: 0 auto;
        gap: 80px;
        justify-content: center;
    }

    .main-container {
        padding-top: 80px;
        width: 1160px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-container {
        justify-content: center;
        display:flex;
        flex-direction: column;
    }

    #Button1 {
        margin-top: 80px;
        width: 520px;
        height: 50px;
        border-radius: 20px;
        cursor: pointer;
        background-color: #1C91FC;
        border: 0px;
        color: white;
        font-weight: 700;
        font-family: Roboto;
        font-size: 14px;
        letter-spacing: 2px;
        outline: 0px;
        font-family: Arial;
        text-transform: uppercase;
    }


   

    .selectGender {
        display: flex;
        flex-direction: column;

    }

    .selectGender select {

        height: 52px;
        font-family: Roboto;
        width: 272px;
        background-color: #f0f0f0;
        outline: none;
        border: 0px;
        border-radius: 15px;
        padding-left: 15px;
        cursor: pointer;
        color: #344040;

    }

    input {
        border-radius: 15px;
        background-color: #f0f0f0;
        border: 1px solid transparent;
        margin-top: 20px;
        padding-left: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        align-items: center;
        font-family: Roboto;
        font-weight: 300;
        width: 250px;
        height: 30px;
        font-size: 14px;
        color: black;
        outline: 0px;
        margin-bottom: 40px;
    }

    .password {
        font-family: Roboto;
    }

  